body{
    width: 100%;
    height: 16.12rem;
    background: url("../img/bg.png") no-repeat;
    background-size: 100% 100%;
    background-color: #0e0c2b;
    padding-top: 9.186667rem
}
.icon-people{
    width: 2.2rem;
    display: block;
    margin: auto;
}
.btn-get{
    width: 8.373333rem;
    display: block;
    margin: auto;
}
.item-box{
    width: 100%;
    padding: 0 1.04rem;
    margin-top: 0.2rem;
}
.item{
    width: 3.226667rem;
    height: 0.8rem;
    border-radius: 0.4rem;
    background-color: #6F63D2;
    font-size: 0.32rem;
    color: #FFFFFF;
    font-family:SourceHanSansCN-Bold;
    font-weight:bold;
}
.prompt-phone-charge,.prompt-traffic,.prompt-cash,.prompt-experience,.prompt-received,.prompt-share,.prompt-week{
    width: 100%;
    height: 100%;
    background-color: RGBA(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    margin: auto;
}
.phone-charge-box{
    width: 7.693333rem;
    height: 8.666667rem;
    background: url("../img/prompt-bg.png") no-repeat;
    background-size: 100% 100%;
    margin: 2.76rem auto 0;
    text-align: center;
    padding-top: 4.813333rem;
}
.desc{
    width: 100%;
    font-size: 0.42rem;
    color: #FF623D;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    margin-bottom: 0.2rem;
}   
.prize-title{
    font-size: 0.4rem;
    color: #666666;
    font-family:MicrosoftYaHei;
}
.btn-see{
    width: 6.96rem;
    height: 1.68rem;
    background: url("../img/btn-bg.png") no-repeat;
    background-size: 100% 100%;
    margin: 0.706667rem auto 0;
    font-size: 0.4rem;
    color: #9F4B00;
    font-family:MicrosoftYaHei-Bold;
    font-weight: bold;
    padding-top: 0.466667rem;
    text-align: center;
}
.cancel-charge,.cancel-traffic,.cancel-cash,.cancel-experience,.cancel-received,.cancel-week{
    width: 0.906667rem;
    margin: 0.453333rem auto 0;
    display: block;
}
.received-box{
    width: 7.693333rem;
    border-radius: 0.266667rem;
    background-color: #fff;
    margin: 4.12rem auto 0;
    padding: 0.8rem 0 0.213333rem;
    text-align: center;
}
.received-title{
    font-size: 0.426667rem;
    color: #FF623D;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    margin-bottom: 0.8rem; 
}
.received-desc{
    font-size: 0.4rem;
    color: #666666;
    line-height: 0.7rem;
    margin-bottom: 1.013333rem;
}
.btn-share{
    width: 6.96rem;
    margin: auto;
    display: block;
}
.arrow{
    width: 3rem;
    margin: 0.546667rem 0 0.373333rem 6rem;
}
.click-here{
    width: 3.24rem;
    font-size: 0.4rem;
    color: #FFFEFE;
    font-family:MicrosoftYaHei;
    line-height: 0.746667rem;
    margin-left: 5.133333rem;
    text-align: center;
}