body{
    background-color: #241f4b;
    overflow: scroll;
    padding-bottom: 1.333333rem;
}
.rule-title{
    width: 6.573333rem;
    display: block;
    margin: 0.186667rem auto 0.013333rem;
}
.title{
    font-size: 0.35rem;
    color: #F9BA2B;
    font-weight: bold;
    line-height: 1.6;
}
.item{
    font-size: 0.35rem;
    color: #FFFFFF;
    line-height: 1.6;
}
.rule-box{
    width: 9.346667rem;
    margin: auto;
}