/* 移动端自适应 */
@charset "utf-8";
html {
    -webkit-tap-highlight-color: transparent;
}
*{box-sizing:border-box;}
input,textarea{-webkit-appearance:none;outline:none;border:0; margin:0; padding:0;}
h1, h2, h3, h4, h5, h6{margin: 0; padding:0;}
ul, ol,li,a{margin:0; padding:0;}
ul{ list-style:none;}
a{ text-decoration:none; border:none; outline: none;-webkit-tap-highlight-color: transparent;}
a:hover{-webkit-tap-highlight-color: transparent;}
p {margin: 0; padding:0;}
table{ border-collapse:collapse;}
img{ border:none; vertical-align:middle; margin:0; padding:0;}
body{ margin:0; padding:0;box-sizing: border-box; min-width:320px; font-family:"微软雅黑"; max-width:100%;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clear{ clear:both}
.flex{
    display:flex;
    display: -webkit-flex;
}
.inline-flex{
    display:inline-flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-1{
    flex:1;
}

.flex-left{/*左对齐*/
    justify-content:flex-start;
}
.flex-center{/*水平居中*/
    justify-content:center;
}
.flex-right{/*右对齐*/
    justify-content:flex-end;
}
.flex-top{/*顶部对齐*/
    align-items:flex-start;
}
.flex-middle{/*垂直居中对齐*/
    align-items:center;
}
.flex-bottom{/*底部对齐*/
    align-items:flex-end;
}
.flex-middlecenter{
    justify-content:center;
    align-items:center;
}

.flex-vertical{
    flex-direction:column;
}
.flex-horizontal{
    flex-direction:row;
}

.flex-vertical-reverse{
    flex-direction:column-reverse;
}
.flex-horizontal-reverse{
    flex-direction:row-reverse;
}

.flex-between{/*水平两端分布*/
    justify-content:space-between;
}
.flex-around{/*水平居中分布*/
    justify-content:space-around;
}
.flex-vertical-stretch{/*竖向拉伸*/
    align-items:stretch;
}
.flex-baseline{/*垂直居中对齐*/
    align-items:baseline;
}
/*flex自身对齐:设置后则覆盖父容器*/
.flex-self-stretch{
    align-self:stretch;/*拉伸*/
}
.flex-self-top{
    align-self:flex-start; /*顶部对齐*/
}
.flex-self-middle{
    align-self:center; /*垂直居中*/
}
.flex-self-bottom{
    align-self:flex-end; /*底部对齐*/
}
.omit {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hidden{
    display: none;
}
.show{
    display: block;
}
@font-face{
    font-family:HYTiaoTiaoTiJ;
    src: url('../font/HYTiaoTiaoTiJ_0.ttf') format('truetype'),
        url('../font/HYTiaoTiaoTiJ_0.svg') format('svg'),
        url('../font/HYTiaoTiaoTiJ_0.woff') format('woff'),
        url('../font/HYTiaoTiaoTiJ_0.eot') format('embedded-opentype')
} 