body{
    width: 100%;
    height: 16.093333rem;
    background: url("../img/select-template/bg.jpg") no-repeat;
    background-size: 100% 100%;
    background-color: #100927;
    padding-top: 0.573333rem;
}
.select{
    width: 3.293333rem;
    display: block;
    margin: auto;
}
.select-item{
    width: 100%;
    padding: 0 0.533333rem;
}
.item{
    width: 2.813333rem;
}